
@model ProductListViewModel

@foreach (var item in Model.Products)
{
    <div>
        <h3>
            @item.Name
            @item.Description
        </h3>
        <h4> @item.Price.ToString("c")</h4>
</div>
}
<div page-model="@Model.PagingInfo" page-action="List"></div>

